* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .nav-1 {
  background-color: rgb(217, 217, 217);
}
header .nav-1 ul {
  display: flex;
  float: right;
  margin: 31px 105px;
}
header .nav-1 ul li {
  margin: 0px 10px;
  list-style: none;
}
header .nav-1 ul li a {
  color: rgb(89, 89, 89);
  font-family: Roboto;
}
header .nav-1 ul #srpski {
  color: rgb(136, 135, 135);
  text-decoration: none;
}
header .nav-1 img {
  margin: 17px 105px;
}
header .nav-2 {
  background-color: white;
}
header .nav-2 ul {
  display: inline-flex;
  margin-left: 290px;
  margin-top: 0;
  margin-bottom: 5px;
}
header .nav-2 ul #kontakt {
  border-right: 1px solid rgba(136, 135, 135, 0.4);
}
header .nav-2 ul li {
  list-style: none;
  text-align: center;
  border-left: 1px solid rgba(136, 135, 135, 0.4);
  padding: 0px 35px;
}
header .nav-2 ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: Roboto Condensed;
}
header .nav-2 ul li a span {
  color: rgb(71, 71, 71);
  font-size: 12px;
}

.video-slider img {
  width: 100%;
  height: 40rem;
}

.aboutsec {
  display: flex;
  margin: 70px 0px;
}
.aboutsec .about-section {
  margin-left: auto;
  margin-right: auto;
}
.aboutsec .about-section .left-about {
  float: left;
  width: 50%;
}
.aboutsec .about-section .right-about {
  float: right;
  width: 50%;
  padding-top: 38px;
  width: 40%;
  float: right;
}
.aboutsec .about-section .right-about h1 {
  font-size: 42px;
  color: rgb(48, 48, 48);
  position: relative;
  font-family: Roboto;
  font-weight: bold;
}
.aboutsec .about-section .right-about h1::after {
  content: "";
  position: absolute;
  background-color: rgb(191, 15, 15);
  height: 6px;
  width: 137px;
  left: 0;
  bottom: -25px;
}
.aboutsec .about-section .right-about h3 {
  margin-top: 50px;
  color: rgb(71, 71, 71);
  font-family: Inter;
  position: relative;
}
.aboutsec .about-section .right-about h3::after {
  content: "";
  position: absolute;
  background-color: rgba(196, 196, 196, 0.4);
  height: 3px;
  width: 524px;
  left: 0;
  bottom: -35px;
}
.aboutsec .about-section .right-about p {
  margin-top: 75px;
  color: rgb(71, 71, 71);
  font-family: Roboto;
  font-size: 14px;
}
.aboutsec .about-section .right-about button {
  background-color: rgb(191, 15, 15);
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 50px;
}

.distribucija-text {
  background-image: url("/img/dvgprevoz.jpeg");
  background-attachment: fixed;
  text-align: center;
  color: white;
  padding: 250px 0px;
  background-size: cover;
  text-transform: uppercase;
  font-family: Roboto;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 0 10000px inset;
  margin-bottom: 70px;
}
.distribucija-text h1 {
  letter-spacing: 7px;
  font-weight: bold;
  position: relative;
}
.distribucija-text h1::after {
  content: "";
  position: absolute;
  background-color: rgb(191, 15, 15);
  height: 6px;
  width: 137px;
  left: 52rem;
  bottom: -25px;
}

.information-section h4 {
  color: rgb(71, 71, 71);
  font-family: Roboto;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 20px;
  position: relative;
}
.information-section h4::after {
  content: "";
  position: absolute;
  background-color: rgb(191, 15, 15);
  height: 2px;
  width: 50px;
  left: 0;
  bottom: -8px;
}

.number-section {
  padding-top: 150px;
}
.number-section #number-naslov {
  text-align: center;
  font-size: 42px;
  color: rgb(48, 48, 48);
}
.number-section #number-pod {
  text-align: center;
  font-family: inter;
  font-size: 28px;
  color: rgb(71, 71, 71);
  position: relative;
}
.number-section #number-pod::after {
  content: "";
  position: absolute;
  background-color: rgb(191, 15, 15);
  height: 6px;
  width: 137px;
  left: 53rem;
  bottom: -30px;
}
.number-section .brojke {
  margin-top: 100px;
  background-image: url("/img/brojke.png");
  padding: 100px 0px;
  text-align: center;
  color: white;
}
.number-section .brojke h1 {
  font-weight: bold;
  font-family: Inter;
  font-size: 46px;
}
.number-section .brojke p {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
}

.proizvodi-section {
  margin-top: 120px;
}
.proizvodi-section h1 {
  text-align: center;
  color: rgb(71, 71, 71);
  font-size: 28px;
  font-family: Inter;
  position: relative;
}
.proizvodi-section h1::after {
  content: "";
  position: absolute;
  background-color: rgba(196, 196, 196, 0.4);
  height: 3px;
  width: 524px;
  left: 24rem;
  bottom: -55px;
}
.proizvodi-section p {
  color: rgb(71, 71, 71);
  text-align: center;
  font-size: 14px;
  margin-top: 120px;
}/*# sourceMappingURL=style.css.map */